.endChat{
    padding-bottom: 100px;
}

.newForm {
    width: 50%;
    position: absolute;
    bottom: 10px;
    background-color: #2c2937;
    border-radius: 20px;
    display: flex;
    align-items: center;
    left: 50%; 
    transform: translateX(-50%);
    gap: 20px;
    padding: 0px 20px;

    input {
        flex: 1;
        padding: 20px;
        border: none;
        outline: none;
        background-color: transparent;
        color: lightblue;
        font-size: 15px;
    }

    button,
    label {
        border-radius: 50%;
        background-color: #605e68;
        border: none;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        img {
            width: 16px;
            height: 16px;
        }
    }

}

@media screen and (max-width: 768px) {
    .newForm {
        width: 80%; /* Increase width for smaller screens */
        gap: 10px; /* Reduce gap between elements */
        padding: 10px; /* Adjust padding */

        input {
            padding: 15px; /* Slightly reduce padding for input */
            font-size: 14px; /* Adjust font size */
        }

        button, label {
            padding: 8px; /* Reduce padding for buttons */
        }
    }
}

@media screen and (max-width: 480px) {
    .newForm {
        width: 100%; /* Use full width for very small devices */
        gap: 5px; /* Further reduce gap */
        padding: 10px; /* Adjust padding for small screens */
        
        input {
            padding: 10px; /* Smaller padding for input */
            font-size: 12px; /* Reduce font size */
        }

        button, label {
            padding: 5px; /* Smaller padding for buttons */
            
            img {
                width: 12px; /* Adjust icon size */
                height: 12px;
            }
        }
    }
}